.certificates-page {
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.pageTitle {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #0a1a4d;
  
}

.filter-container {
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin-bottom: 20px;
}

.search-input {
  flex: 1; /* Ensures the search bar takes more space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.filter-dropdown {
  flex: 0.3; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.certificates-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.certificates-table th,
.certificates-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.certificates-table th {
  background-color: #2a3e76;
  color: white;
  font-weight: bold;
}

.certificates-table td {
  font-size: 14px;
}

.reports-style th {
  text-align: left;
}

.print-request-btn {
  padding: 8px 12px;
  background-color: #2a3e76;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.print-request-btn:hover {
  background-color: #0056b3;
}

.whatsapp-contact {
  margin-top: 20px;
  padding: 10px;
  background-color: #e6ffe6;
  border: 1px solid #cce5cc;
  border-radius: 8px;
  text-align: center;
}

.whatsapp-contact a {
  color: #25d366;
  font-weight: bold;
  text-decoration: none;
}

.approved {
  color: green;
  font-weight: bold;
}

.pending {
  color: orange;
  font-weight: bold;
}
